<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <script src="userProfile.js" defer></script>
</head>
<body>
    <h1>User Profile</h1>
    <div id="user-info">
        <h2>Your Favorites:</h2>
        <ul id="favorite-list"></ul>
        
        <h2>Your Watched Movies:</h2>
        <ul id="watched-list"></ul>
        
        <h2>Your Wishlist:</h2>
        <ul id="wishlist-list"></ul>
    </div>
</body>
</html>
